<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->   
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" />
		<setting name="logImpl" value="STDOUT_LOGGING" /><!-- 解决控制台中文乱码问题 -->

    </settings>
	<!-- 别名 简化在mapper代码 就不用写一长串了 -->
	<typeAliases>
		<typeAlias type="com.gz.entity.gh.Cust" alias="Cust"/>
		<typeAlias type="com.gz.entity.report.Search" alias="Search"/>
		<typeAlias type="com.gz.entity.report.ReportDay" alias="ReportDay"/>
		<typeAlias type="com.gz.entity.system.User" alias="User"/>
		<typeAlias type="com.gz.entity.system.Role" alias="Role"/>
		<typeAlias type="com.gz.entity.system.Menu" alias="Menu"/>
		<typeAlias type="com.gz.util.PageData" alias="pd"/>
		<!-- 分页 -->
		<typeAlias type="com.gz.entity.Page" alias="Page"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.gz.plugin.PagePlugin">
			<property name="dialect" value="sqlserver"/>
			<property name="pageSqlId" value=".*listPage.*"/>
		</plugin>
	</plugins>
	
</configuration>