<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--dao直接引用-->
<mapper namespace="CustMapper">

    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>


    <!--  -->
    <select id="listCust"   resultType="Cust" useCache="false">
        select id, case when applicationid =1 then '诊宝倍'
        when applicationid=2 then '好药优选' else '' end  applicationname,name,linkname,linkphone,
        city_name,county,his_tag,now_tag ,end_order_rq,emp1,emp1_phone,emp3,emp ,
        isnull(gh_emp,'') gh_emp,isnull(gh_rq,'') gh_rq,
        case when gh_isvalid=1 then '激活成功'
        when   gh_isvalid=0 then  '激活中'
        when  gh_isvalid=-1 then '激活失败'
        else '无任务' end gh_isvalid
        from ods_ads.dbo.ods_ads_ec_user_all_day  with (nolock)  where stat_day=CONVERT(varchar,GETDATE(),23)
        and name not like '%测试%' and IsValid=1 and  DATEDIFF(DAY, end_order_rq, CONVERT(varchar,GETDATE(),23)) >60
        and isnull(gh_isvalid,-1)!=0



    </select>



    <!-- 通过id获取数据 -->
    <select id="findById" parameterType="Cust" resultType="Cust" useCache="false">
		id, case when applicationid =1 then '诊宝倍'
        when applicationid=2 then '好药优选' else '' end  applicationname,name,linkname,linkphone,
        city_name,county,his_tag,now_tag ,end_order_rq,emp1,emp1_phone,emp3,emp ,
        isnull(gh_emp,'') gh_emp,isnull(gh_rq,'') gh_rq,
        case when gh_isvalid=1 then '激活成功'
        when   gh_isvalid=0 then  '激活中'
        when  gh_isvalid=-1 then '激活失败'
        else '无任务' end gh_isvalid
        from ods_ads.dbo.ods_ads_ec_user_all_day  with (nolock)  where stat_day=CONVERT(varchar,GETDATE(),23)
        and name not like '%测试%' and IsValid=1 and  DATEDIFF(DAY, end_order_rq, CONVERT(varchar,GETDATE(),23)) >60
        and isnull(gh_isvalid,-1)!=0
		and ID = #{ID}
	</select>


</mapper>